.fondo-transparente{
}

.fondo-blanco{
-fx-background-color: white;
}

.fondo-color-primario{
-fx-background-color: #7DF5EE;
}

.fondo-color-secundario{
-fx-background-color:palevioletred;
}

.marco-color-primario{
-fx-border-color: #7DF5EE;
-fx-border-width: 2 2 2 2;
}

.boton-basico{
-fx-background-radius: 0;
-fx-padding: 10 10;
-fx-alignment: top-left;
-fx-font-weight: bold;
-fx-background-color: #8AC2ED;
-fx-border-width: 0 0 2 0;
-fx-border-color: #8AA3ED;
}
.boton-vacio{
-fx-background-radius: 0;
-fx-background-color: crimson;
-fx-border-width: 0 0 2 0;
-fx-border-color: lightgray;
}

.boton-basico-encima:hover {
    -fx-background-color: #8AA3ED; /* Cambia el color de fondo al pasar el cursor (celeste) */
    -fx-border-color: gray;
    -fx-cursor: hand;
}

.boton-cerrar{
-fx-background-radius: 0;
-fx-padding: 10 10;
-fx-font-weight: bold;
-fx-background-color: #ED7E84;
}

.boton-cerrar-encima: hover{
-fx-background-color:#F0031C;
-fx-cursor: hand;
}
